body{background:#111; color:#eef; font-family: arial, sans-serif; text-shadow:1px 1px 0px #000;}
.wrapper{width:960px; margin:0 auto; position:relative; background: url('../images/bg.png');}

.header{background:url('../images/mainimg_home.jpg'); height:339px;}
.logo{position:absolute; top:70px; left:20px;}
.title{position:absolute; top:30px; left:130px;}


.navigation{position:absolute; left:0; top:4px; width:100%; background: url('../images/header-bg.gif'); font-size:15px; border-top:1px solid #000; border-bottom:1px solid #000}
.navigation ul{float:left; margin:0; padding:0;}

.navigation li{float:left; display:inline; position:relative;} 
.navigation li ul{position:absolute; left:0; top:39px; z-index:2; background:rgba(0,0,0,0.8); display:none;}
.navigation ul>li:hover>ul{display:block;}
.navigation ul>li>ul>li>ul{left:222px; top:0; display:none;}
.navigation ul>li>ul>li:hover>ul{display:block;}

.navigation li li a {margin:0px 1px; width:180px;-moz-border-radius:0px; -webkit-border-radius:0px; border-bottom:1px solid #222;}

.navigation li a{float: left; padding:4px 20px; margin:4px 10px; color:#fff; -moz-border-radius:4px; -webkit-border-radius:4px;}
.navigation li a:hover, 
.navigation li a:active, 
.navigation li a:focus{background:#000; text-decoration:none;}

.clear{clear:both;}

.col{padding-right:20px; float:left; width:400px;}
.col-large{width:520px;}

.footer{border-top:1px solid #242424; padding:30px 0 20px 80px; margin-bottom:1px; background:url('../images/logo-footer.png') no-repeat 00px 20px;}
.footer ul{margin:0; padding:0}
.footer li{display:inline;}

h2{border-bottom:1px solid #242424;text-shadow:2px 2px 3px #000; color:#ddf;}