img, .navigation, .skin { behavior: url(iepngfix.htc) }
.navigation { behavior: url("csshover3.htc"); } 

.navigation ul ul li{clear:both;}
.navigation ul li{height:39px;}

.navigation ul ul{display:none;}
.navigation li:hover ul{display:block;}
.navigation li:hover ul ul { display:none; } /* 12 and 23*/ 
.navigation li:hover li:hover ul { display:block; left:195px; top:0px;} 

.navigation li ul li{background:#000;}
.navigation li ul li:hover{background:#003;}

.